{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_NODE_ROLES =
  {
  'SPINE':  ['Spine-01.example.net',
             'Spine-02.example.net'],
  'RR':     ['Spine-01.example.net',
             'Spine-02.example.net'],
  'CLIENT': ['Leaf-01.example.net',
             'Leaf-02.example.net',
             'Border-01.example.net',
             'Border-02.example.net'],
  'BORDER': []
  }
%}