{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_L3OUT = [
  {
    'vrf': 'red',
    'node': 'Spine-01.example.net',
    'neighbour_asn': '65002',
    'interfaces': {
      'GigabitEthernet1/0/7.2': {'parent': 'GigabitEthernet1/0/7', 'name': 'uplink1', 'vlan': '2', 'ipaddr': '172.17.2.1 255.255.255.252', 'neighbour': '172.17.2.2'},
      'GigabitEthernet1/0/8.2': {'parent': 'GigabitEthernet1/0/8', 'name': 'uplink2', 'vlan': '2', 'ipaddr': '172.17.2.5 255.255.255.252', 'neighbour': '172.17.2.6'}
    }
  },
  {
    'vrf': 'red',
    'node': 'Spine-02.example.net',
    'neighbour_asn': '65002',
    'interfaces': {
      'GigabitEthernet1/0/7.2': {'parent': 'GigabitEthernet1/0/7', 'name': 'uplink1', 'vlan': '2', 'ipaddr': '172.17.2.9 255.255.255.252', 'neighbour': '172.17.2.10'},
      'GigabitEthernet1/0/8.2': {'parent': 'GigabitEthernet1/0/8', 'name': 'uplink2', 'vlan': '2', 'ipaddr': '172.17.2.13 255.255.255.252', 'neighbour': '172.17.2.14'}
    }
  }
] %}

{% set DEFN_L3OUT_AGGREGATES = ["10.1.11.0 255.255.255.0",
                                "10.2.22.0 255.255.255.0"]
%}

{# End of File #}
