{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_LOOP_UNDERLAY =
    {
      'Spine-01.dcloud.cisco.com':   '172.16.255.1',
      'Spine-02.dcloud.cisco.com':   '172.16.255.2',
      'Leaf-01.dcloud.cisco.com':    '172.16.255.3',
      'Leaf-02.dcloud.cisco.com':    '172.16.255.4',
      'Border-01.dcloud.cisco.com':  '172.16.255.6',
      'Border-02.dcloud.cisco.com':  '172.16.255.7'
    }
%}

{# DEFN_LOOP_MCLUSTER: remote Border peers for cross-site VXLAN multi-cluster BGP  #}
{# Keys = remote border hostnames; values = their Loopback0 IP and remote site ASN  #}
{% set DEFN_LOOP_MCLUSTER =
    {
      'DMZ-01.dcloud.cisco.com': {'ip': '172.18.200.1', 'asn': '65003'}
    }
%}

{% set DEFN_LOOP_OVERLAY =
    {
      'red':                                    '10.1.101.',
      'blue':                                   '10.1.201.',
      'green':                                  '10.1.202.'
    }
%}

{% set DEFN_LOOP_NAME =
    {
        'UNDERLAY': 'Loopback0',
        'ANYCAST':  'Loopback2'
    }
%}

{# End of File #}
