{# NAMING CONVENTION#}
{#MDT DEFAULT: 239.190.1XX.1#}
{#MDT DATA:    239.190. XX.1#}
{% set DEFN_VRF = [
  {'id':'901','name':'red', 'mdt_default':'239.190.0.1', 'mdt_data':'239.190.1.0'},
  {'id':'902','name':'blue', 'mdt_default':'239.190.0.2', 'mdt_data':'239.190.2.0'},
  {'id':'903','name':'green', 'mdt_default':'239.190.0.3', 'mdt_data':'239.190.3.0'}
  ]
%}