{% include "EVPN/DEFN-VRF" %}
{% include "EVPN/DEFN-ROLES" %}
{% include "EVPN/DEFN-LOOPBACKS" %}
{% include "EVPN/DEFN-OVERLAY" %}
{% include "EVPN/DEFN-IPSEC" %}
{% include "EVPN/DEFN-VNIOFFSETS" %}
{% include "EVPN/DEFN-L3OUT" %}
{% include "EVPN/DEFN-MCAST" %}
{% include "EVPN/DEFN-NAC-IOT" %}
{% include "EVPN/FUNC-OBJECT-MACROS" %}
{% include "EVPN/1. FABRIC-VRF" %}
{% include "EVPN/2. FABRIC-LOOPBACKS" %}
{% include "EVPN/2.5 FABRIC-IPSEC" %}
{% include "EVPN/3. FABRIC-NVE" %}
{% include "EVPN/4. FABRIC-MCAST" %}
{% include "EVPN/5. FABRIC-EVPN" %}
{% include "EVPN/6. FABRIC-OVERLAY" %}
{% include "EVPN/7. FABRIC-NAC-IOT" %}

{# DEREFERENCE THE DEVICE HOSTNAME ONCE AND PASS TO EACH BUILD FUNCTION #}
{% set DEVICE_HOSTNAME = __device.hostname | default('', true) %}

{# BUILD LAYERS OF CONFIG #}
{# Step 1. VRF #}
{{ vrfDefinitionBuild(DEF_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_LOOP_UNDERLAY, FABRIC_BGP_ASN) }}

{# Step 2. UNDERLAY AND SERVICE LOOPBACKS #}
{{ interfaceLoopbackBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_LOOP_NAME, DEFN_LOOP_UNDERLAY, DEFN_NODE_ROLES, DEFN_LOOP_IPSEC, FABRIC_UNDERLAY, DEFN_LOOP_MCLUSTER) }}

{# Step 3. UNDERLAY IPSEC OR GRE TRANSPORT TUNNELS ONLY ON BORDERS #}
{{ interfaceTunnelBuild(DEFN_NODE_ROLES, FABRIC_IPSEC_UNDERLAY, DEFN_LOOP_IPSEC, DEFN_LOOP_NAME) }}

{# Step 4. VLANS, L2VNI AND L3VNI MAPPINGS #}
{{ nveVlanBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, L3VNIOFFSET, DEFN_LOOP_NAME) }}

{# Step 5. MULTICAST - TRM #}
{{ multicastRoutingBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_NODE_ROLES, DEFN_LOOP_NAME, DEFN_LOOP_UNDERLAY, FABRIC_RP_ADDR, FABRIC_UNDERLAY, FABRIC_BGP_ASN, FABRIC_RP_SCOPES, ENTERPRISE_RP_SCOPES, ENTERPRISE_RP_ADDR, DEFN_L3OUT ) }}

{# Step 6. BGP EVPN PEERINGS #}
{{ evpnBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_NODE_ROLES, DEFN_LOOP_UNDERLAY, DEFN_L3OUT, FABRIC_BGP_ASN, DEFN_LOOP_NAME, DEFN_IPSEC, DEFN_LOOP_MCLUSTER, DEFN_L3OUT_AGGREGATES ) }}

{# Step 7. BGP OVERLAYS #}
{{ overlayBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, FABRIC_BGP_ASN, DEFN_OVERLAY, DEFN_NODE_ROLES, L2VNIOFFSET) }}

{# Step 8. SECURE ACCESS PORTS #}
{{ ibnsBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_NAC_IOT) }}