!Command: show running-config
!Running configuration last done at: Wed Jul 30 11:45:29 2025
!Time: Fri Aug  1 08:42:06 2025

version 10.3(5) Bios:version 05.51 
hostname dublin-core2
vdc dublin-core2 id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 511
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8

feature telnet
feature ospf
feature bgp
feature pim
feature interface-vlan
feature hsrp
feature lldp
clock timezone EST -5 0
clock summer-time EDT 2 Sun Mar 02:00 1 Sun Nov 02:00 60

no password strength-check
username admin password 5 $5$NHAKAC$f34jDR86Z1ERp4OrwyI2ggKl53IKxHrvkRqajPlwxd3  role network-admin
username net-admin password 5 $5$FHDPEO$eipOj2Z2IkNVsf4S7cTTadN/.wzWMC7eLtHaT9X58R2  role network-admin
username net-admin passphrase  lifetime 99999 warntime 14 gracetime 3

banner motd #Login is admin/cisco123
#

no ip domain-lookup
copp profile strict
snmp-server user admin network-admin auth md5 367B3E34F7A6FD8B23066C715C94B14868B9 priv aes-128 32091A51819CD3D3721D662859C2B56923F5 localizedV2key
snmp-server user net-admin network-admin auth md5 0153184091BEE9EF54BB853101BF42456117 priv aes-128 0152194B96E4E4F45AF4843E05BE45443E47 localizedV2key
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
snmp-server community public group network-operator
snmp-server community private group network-admin
ntp server 198.18.128.1 use-vrf management
ntp source-interface mgmt0
ntp logging

ip pim rp-address 172.17.254.100 group-list 238.190.0.0/16
ip pim anycast-rp 172.17.254.100 172.17.255.1
ip pim anycast-rp 172.17.254.100 172.17.255.2
vlan 1,907,997-999
vlan 997
  name multicast-source
vlan 998
  name dhcp-server

ip prefix-list BGP-TO-OSPF seq 5 permit 172.16.0.0/12 le 32 
ip prefix-list BGP-TO-OSPF seq 10 permit 198.18.4.0/24 
ip prefix-list BGP-TO-OSPF seq 15 permit 10.100.1.1/32 
ip prefix-list BGP-TO-OSPF seq 20 permit 10.100.3.1/32 
ip prefix-list ENTERPRISE-RP-SCOPE seq 5 permit 238.190.0.0/16 le 32 
ip prefix-list OSPF-TO-BGP seq 5 permit 0.0.0.0/0 
ip prefix-list OSPF-TO-BGP seq 10 permit 172.16.0.0/12 le 32 
route-map BGP-TO-OSPF permit 10
  match ip address prefix-list BGP-TO-OSPF 
route-map OSPF-TO-BGP permit 10
  match ip address prefix-list OSPF-TO-BGP 
vrf context management
  ip route 0.0.0.0/0 198.18.128.1


interface Vlan1

interface Vlan907
  no shutdown
  mtu 9216
  ip address 198.18.40.1/24
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode

interface Vlan999
  no shutdown
  ip address 198.18.6.1/24
  ip router ospf 1 area 0.0.0.0

interface Ethernet1/1
  description esxi-34
  ip address 198.18.5.1/24
  ip router ospf 1 area 0.0.0.0
  no shutdown

interface Ethernet1/2
  mtu 9100
  ip address 172.18.4.1/24
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown

interface Ethernet1/3
  mtu 9216
  ip address 172.18.1.1/30
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown

interface Ethernet1/4
  switchport
  switchport mode trunk
  no shutdown

interface Ethernet1/5
  no shutdown

interface Ethernet1/6
  no shutdown

interface Ethernet1/7
  description to spine2
  mtu 9100
  ip address 172.17.4.2/24
  ip pim sparse-mode
  no shutdown

interface Ethernet1/7.2
  mtu 9100
  encapsulation dot1q 2
  ip address 10.255.255.10/30
  ip pim sparse-mode
  no shutdown

interface Ethernet1/8
  description to spine1
  mtu 9100
  ip address 172.17.2.2/24
  ip pim sparse-mode
  no shutdown

interface Ethernet1/8.2
  mtu 9100
  encapsulation dot1q 2
  ip address 10.255.255.6/30
  ip pim sparse-mode
  no shutdown

interface Ethernet1/9
  description tc9/8
  switchport
  switchport mode trunk
  spanning-tree port type edge trunk
  mtu 9216
  no shutdown

interface Ethernet1/10
  description dnac
  switchport
  switchport access vlan 999
  spanning-tree port type edge
  no shutdown

interface Ethernet1/11
  switchport
  no shutdown

interface Ethernet1/12
  no shutdown

interface Ethernet1/13
  no shutdown

interface Ethernet1/14
  no shutdown

interface Ethernet1/15
  no shutdown

interface Ethernet1/16
  no shutdown

interface Ethernet1/17
  no shutdown

interface Ethernet1/18
  no shutdown

interface Ethernet1/19
  no shutdown

interface Ethernet1/20
  no shutdown

interface Ethernet1/21
  no shutdown

interface Ethernet1/22
  no shutdown

interface Ethernet1/23
  no shutdown

interface Ethernet1/24
  no shutdown

interface Ethernet1/25
  no shutdown

interface Ethernet1/26
  no shutdown

interface Ethernet1/27
  no shutdown

interface Ethernet1/28
  no shutdown

interface Ethernet1/29
  no shutdown

interface Ethernet1/30
  no shutdown

interface Ethernet1/31
  no shutdown

interface Ethernet1/32
  no shutdown

interface Ethernet1/33
  no shutdown

interface Ethernet1/34
  no shutdown

interface Ethernet1/35
  no shutdown

interface Ethernet1/36
  no shutdown

interface Ethernet1/37
  no shutdown

interface Ethernet1/38
  no shutdown

interface Ethernet1/39
  no shutdown

interface Ethernet1/40
  no shutdown

interface Ethernet1/41
  no shutdown

interface Ethernet1/42
  no shutdown

interface Ethernet1/43
  no shutdown

interface Ethernet1/44
  no shutdown

interface Ethernet1/45
  no shutdown

interface Ethernet1/46
  no shutdown

interface Ethernet1/47
  no shutdown

interface Ethernet1/48
  no shutdown

interface Ethernet1/49
  no shutdown

interface Ethernet1/50
  no shutdown

interface Ethernet1/51
  no shutdown

interface Ethernet1/52
  no shutdown

interface Ethernet1/53
  no shutdown

interface Ethernet1/54
  no shutdown

interface mgmt0
  vrf member management
  ip address 198.18.165.130/18

interface loopback0
  ip address 172.17.255.2/32
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode

interface loopback1
  description RP
  ip address 172.17.254.1/32
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode

interface loopback2
  description anycast-rp
  ip address 172.17.254.100/32
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode

interface loopback900
  ip address 10.200.200.1/32
  ip pim sparse-mode
icam monitor scale

cli alias name wr copy running-config startup-config
line console
  exec-timeout 0
line vty
  session-limit 64
  exec-timeout 0
router ospf 1
  router-id 172.17.255.2
  redistribute bgp 65002 route-map BGP-TO-OSPF
router bgp 65002
  router-id 172.17.255.2
  address-family ipv4 unicast
    network 10.100.2.1/32
    network 172.18.200.1/32
    network 198.18.4.0/24
    network 198.18.5.0/24
    network 198.18.6.0/24
    redistribute ospf 1 route-map OSPF-TO-BGP
    maximum-paths 2
    default-information originate
  neighbor 10.255.255.5
    remote-as 65001
    address-family ipv4 unicast
      soft-reconfiguration inbound always
  neighbor 10.255.255.9
    remote-as 65001
    address-family ipv4 unicast
      soft-reconfiguration inbound always
  neighbor 172.17.2.1
    remote-as 65001
    address-family ipv4 unicast
      next-hop-self
      soft-reconfiguration inbound always
  neighbor 172.17.4.1
    remote-as 65001
    address-family ipv4 unicast
      next-hop-self
      soft-reconfiguration inbound always
  neighbor 172.17.255.1
    remote-as 65002
    update-source loopback0
    address-family ipv4 unicast
ip tcp path-mtu-discovery